<div class="container-fluid" style="background:rgb(240, 241, 208);">
  <div class="container">
    <div class="row" id="variety">
      <div class="col-md-12 col-lg-12 py-5 mt-3 px-md-5 text-center">
        <h1>Variety of Chef's and their top Signature Dishes</h1><br>
        <h5 class="d-none d-sm-none d-md-block">ChefMadeIt.com gives you easy access to your favourite or top-rated
          chefs nearby. <br>Choose from your favourite ones.</h5>
      </div>
    </div>
  </div>
</div>

<span></span>

<div class="container-fluid pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4 text-center py-4 ">
        <div class="card px-0 item" id="item1">
          <img src="/assets/images/chef1.jpg" class="img-fluid">
        </div>

      </div>

      <div class="col-md-4 col-lg-4 text-center py-4">

        <div class="card px-0 item" id="item2">
          <img src="/assets/images/chef2.jpg" class="img-fluid">
        </div>

      </div>

      <div class="col-md-4 col-lg-4 text-center py-4">

        <div class="card px-0 item">
          <img src="/assets/images/chef3.jpg" class="img-fluid" id="item3">
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container px-0" style="overflow:hidden">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h5 class="d-none d-sm-none d-md-block text-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digital Platform for hosting
        Cocktail parties, Conference, Wedding, Birthday and other Private Occasions with your favourite top rated chef
        and their signature dishes. Formal and informal dining with lush appurtenances and grand artistically rendered
        interior furnishing and decor.</h5>

      <h5 class="d-block d-sm-block d-md-none text-justify px-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digital Platform for
        hosting Cocktail parties, Conference, Wedding, Birthday and other Private Occasions with your favourite top
        rated chef and their signature dishes. Formal and informal dining with lush appurtenances and grand artistically
        rendered interior furnishing and decor.</h5>
      <br>

      <div class="three-images-wrapper">

        <div class="three-images">
          <div class="featured-image-outer">
            <div class="featured-image-inner" style="background-image: url('/assets/images/dining.jpg');">
            </div>
          </div>

          <div class="two-images">
            <div class="two-images-outer">
              <div class="two-images-inner" style="background-image: url('/assets/images/party.jpg');">
              </div>
            </div>

            <div class="two-images-outer">
              <div class="two-images-inner" style="background-image: url('/assets/images/party2.jpg');">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
