<services-carousel></services-carousel>

<div class="container" id="chef-rooms" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center py-5">
			<h1>Welcome to The Chef's Room</h1><br>
			<h5>Get Access to Daily <strong>Blogs/Articles/Videos/Posts</strong> and more. Get Subscription NOW!</h5>
		</div>

		<div class="col-md-6 text-center mb-4 px-3">
			<div class="card py-5 px-4">
				<h5>ARTICLE SAMPLE 1:
				</h5>
				<hr>
				<p class="px-3">Adding protein to a smoothie is not just a good idea — it’s a great idea. The addition
					of a protein source makes the smoothie more satisfying, so it will keep you feeling fuller longer.
					If you tend to sip on a smoothie after exercise, protein is essential for proper muscle recovery. An
					average 150-pound adult needs about 55 to 70 grams of protein spread throughout the day. Getting 10
					to 20 grams (closer to 25 post-workout) is a good protein goal for a smoothie.</p>
			</div>
		</div>

		<div class="col-md-6 text-center mb-4 px-3">
			<div class="card py-5 px-4">
				<h5>ARTICLE SAMPLE 2:
				</h5>
				<hr>
				<p class="px-3">The food you eat and the nutrients you take in all play a role in stress. In his lecture
					at 2021 Academy of Nutrition & Dietetics Food & Nutrition Conference and Expo, Dr. Mohr explains how
					Americans are getting below the recommended levels of many nutrients that play a role in stress and
					mood. These nutrients include omega 3, magnesium, folate, vitamin B6, vitamin B12, thiamin,
					riboflavin, and niacin. Below is an overview of these nutrients and how you can make sure you’re
					getting enough.</p>
			</div>
		</div>

		<div class="col-md-12 col-lg-12 text-center py-5">
			<h5>Expertise and Recipes included</h5>

		</div>

		<div class="col-md-8 pb-md-5 px-4">
			<img class="d-block w-100 img-thumbnail shadow-sm" src="/assets/images/recipe.jpg">

			<div class="pt-5">
				<h4>Inclusions</h4>
				<ul>
					<li>Private chat</li>
					<li>Unique Recipes</li>
					<li>Get Expertise</li>
					<li>Book according to your availability</li>
				</ul>
				<hr>
				<h4>Chat</h4><br>
				<button class="btn btn-default" (click)="chatFeature()">Unlock Now</button>
			</div>
			<hr>

		</div>
		<div class="col-md-4 pb-5">
			<video width="320" height="240" controls>
				<source src="/assets/images/Recipe.mp4" type="video/mp4">
			</video>

			<video width="320" height="240" controls>
				<source src="/assets/images/recipe2.mp4" type="video/mp4">
			</video>
			<video width="320" height="240" controls>
				<source src="/assets/images/recipe3.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>