<!-- Header carousel -->
<subscriptions-carousel></subscriptions-carousel>

<div class="container py-5" id="main-packages" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center">
			<h1>Subscription packages for Chefs and Users</h1>
			<h4>These are the subscriptions that we offer here at Chef Made It</h4>
			<br><br>
			<h5 class="text-left"> > Subscription module (includes premium subscription for chefs to help them promote
				their daily blogs and posts to reach greater audience).
				<hr>
			</h5>\
		</div>

		<div class="col-md-6 px-md-5 text-justify">
			<h4>Inclusions</h4>
			<p>
				Promote their daily blogs and posts; <br>
				Reach more people; <br>
			</p>
		</div>

		<div class="col-md-6 px-md-5 text-justify">
			<h4>Charges</h4>
			<p>
				$9.99 + taxes
			</p>
			<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="col-md-12 col-lg-12 text-center">
			<br><br>
			<h5 class="text-left">>Membership module (includes premium membership for users to have access to full
				application/system).
				<hr>
			</h5>
		</div>

		<div class="col-md-6 px-md-5 text-justify">
			<h4>Inclusions</h4>
			<p>
				Complimentary use of chat feature; <br>
				Get access to Valid coupons from time to time; <br>
			</p>
		</div>

		<div class="col-md-6 px-md-5 text-justify">
			<h4>Charges</h4>
			<p>
				$9.99 + taxes
			</p>
		</div>

		<div class="col-md-12 text-center">
			<i class="text-muted">Prices are subject to change without prior notice. </i>
		</div>



	</div>

</div>
