<services-carousel></services-carousel>

<div class="container-fluid" [@slideInOut]>
	<div class="container card about-position px-md-5" id="services">
		<div class="row">
			<div class="col-md-12 col-lg-12 text-center py-5 px-md-5" [@fadeIn]>
				<h1 class="d-none d-sm-none d-md-block">Services</h1>
				<h3 class="d-block d-sm-block d-md-none">Services</h3>
				<br>
				<h5 class="d-none d-sm-none d-md-block"><br>List of affordable services we offers. Check it out now and
					enjoy it with your family and friends.</h5>

			</div>
		</div>
	</div>

	<div class="container pb-5">
		<div class="row">
			<!-- Favourites -->
			<div class="col-md-12 text-center">
				<div class="card-hover-shadow">
					<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
						<img src="/assets/images/fav2.jpg" class="img img-fluid shadow-sm"
							style="width: 30%; border: 2px solid #e2e2e2;">
					</div>
					<div class="media card-block">
						<img src="/assets/images/fav2.jpg"
							class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block"
							style="width: 30%; border: 2px solid #e2e2e2;">
						<div class="media-body text-left pl-md-5 pt-md-4">
							<h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Favourites
								<a routerLink="/facilities" class="float-right pr-md-5"> </a>
							</h3>
							<hr>
							<p class="px-3">Ordering the famous dish from the top-rated chefs.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid pb-5">

</div>
