<services-carousel></services-carousel>

<div class="container-fluid" [@slideInOut] [@fadeIn]>
	<div class="container about-position card py-5 px-md-5" id="personal-chef">
		<div class="row">
			<div class="col-md-12 col-lg-12 text-center">
				<h1 class="d-none d-sm-none d-md-block">Top Rated Chef Lists</h1>
				<h3 class="d-block d-sm-block d-md-none">Top Rated Chef Lists</h3>
				<h4>These are the list of the Top Rated Chef we offer here at Chef Made It</h4>
			</div>

			<div class="col-md-4 py-5">
				<img src="/assets/images/bestchef.jpg" class="img-fluid">
			</div>

			<div class="col-md-8 py-md-5">
				<h5 class="text-left">These are those few chef's who have managed to collect an astounding number of
					stars in their constellation of fine dining restaurants.</h5>

				<hr>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">

							<select class="form-control" [(ngModel)]="item_search" value="All">
								<option selected value="All">Filter Cuisine Types</option>
								<option>Japanese</option>
								<option>Vietnamese</option>
								<option>Korean</option>
								<option>German</option>
								<option>Indian</option>
								<option>Other Cuisines</option>
							</select>
						</div>
					</div>

					<div class="col-md-8">
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="item_search"
								placeholder="Search our Menu">
							<div class="input-group-append">
								<button class="btn btn-sm btn-secondary"><span
										class="fa fa-search px-3"></span></button>
							</div>
						</div>
					</div>
				</div>


				<div class="table-responsive">
					<table class="table table-condensed table-hover table-striped mt-3">
						<caption>Prices are subject to change without prior notice</caption>
						<thead>
							<tr>
								<th>Cuisine</th>
								<th>Name</th>
								<th>Price /hr</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of data.items | MenuFilter: item_search">
								<td>{{item.cuisine}}</td>
								<td>{{item.name}}</td>
								<td>{{item.price.toFixed(2)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
</div>
