<div class="container-fluid" [@slideInOut]>
  <div class="container card about-position" *ngIf="visible">
    <div class="row" id="about">
      <div class="col-md-12 col-lg-12 py-md-5 mt-3 px-md-5 text-center">
        <h1 class="d-none d-sm-none d-md-block">Welcome to Chef Made It</h1>
        <h3 class="d-block d-sm-block d-md-none">Welcome to Chef Made It</h3>

        <img src="/assets/images/homebanner.jpg" class="img-fluid py-4 d-block d-sm-block d-md-none">
        <h5 class="d-none d-sm-none d-md-block">Just contact us. We are happy to serve you at a price that will surely
          fit your budget. <br>Dine and enjoy with your loved ones at home whatever the occasion is. </h5>
      </div>
    </div>
  </div>

  <div class="container card py-md-2  px-md-5 pb-4">
    <div class="row">
      <div class="col-md-4 col-lg-4 text-center pb-2">
        <span></span>
        <h5 class="text-justify px-3"><strong>A digital platform which brings together you and your favourite chef so
            that you can order the most loved food without any layer in between. Also, which enables you to hire your
            favourite chef on an hourly basis. Clients can save money and get the best quality food at affordable
            prices. Clients can get the famous dishes from the top rated chefs.
          </strong> </h5>
        <hr>
        <img src="/assets/images/foods.jpg" class="img-fluid">
      </div>

      <div class="col-md-8 col-lg-8 text-center pb-2">
        <img src="/assets/images/chefbanner.jpg" class="img-fluid img-thumbnail">
        <div class="pt-5">
          <br>
          <h5 class="text-capitalize px-5">Located in Metro Vancouver <strong>Chef Made It</strong> is a platform which
            brings together you and your favourite chef for food lovers.</h5><br><br>
          <a routerLink="services/personal-chef" class="btn menu text-light py-2 px-5 menu">Check our Top Rated Chef
            Lists</a>
        </div>

      </div>

    </div>

  </div>
</div>
