<div class="container-fluid px-0" style="background-color:rgb(91, 99, 86); padding-top: 2px; padding-bottom: 2px;">
</div>

<div class="container-fluid px-0 py-5 first-footer">
	<footer>
		<div class="container">
			<div class="row text-left" style="color: rgb(239, 248, 241)">
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>COMPANY</b></h3>
					<hr>
					<p><a href="#" style="color:rgb(243, 170, 122)">About Us</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Our Services</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Privacy Policy</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Affiliate Program</a></p>
				</div>
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>GET HELP</b></h3>
					<hr>
					<p><a href="#" style="color:rgb(243, 170, 122)">FAQ</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Terms & Conditions</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Careers</a></p>
				</div>
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>FOLLOW US</b></h3>
					<hr>
					<p><a href="#" style="color:rgb(243, 170, 122)">Facebook</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Instagram</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Twitter</a></p>
					<p><a href="#" style="color:rgb(243, 170, 122)">Linkedin</a></p>
				</div>
			</div>
		</div>
	</footer>
</div>
<div class="container-fluid px-0 second-footer">
	<footer>
		<div class="container">
			<div class="row text-center" style="color: white;">
				<div class="col-md-12 col-sm-12">
					Copyright © 2022-2023 ChefMadeIt.com, All rights reserved. Prices are subject to change without
					prior notice.
				</div>
			</div>
		</div>
	</footer>
</div>
